################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EasyDiet/.vs
/EasyDiet/EasyDiet/App_Data/aspnet-EasyDiet-20181128101635.mdf
/EasyDiet/EasyDiet/App_Data/aspnet-EasyDiet-20181128101635_log.ldf
